@font-face {
    font-family: WalsheimMedium;
    src: url("../../fonts/GTWalsheimPro-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: WalsheimThin;
    src: url("../../fonts/GTWalsheimPro-Thin.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body{
    padding: 0;
    margin: 0;
    background: #0d0d0d;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #111;
    color: white;
    font-family: sans-serif;
}


.header {
    background-color: #0097a7;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    gap: 40px;
    border-bottom: 4px solid #222;
}

.header a {
    font-family: WalsheimMedium;
    color: white;
    font-size: 25px;
}

.header a:hover {
    color: #ffc200;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 70px); /* вычитаем высоту шапки */
    padding: 20px;
    font-family: WalsheimMedium;
}

.content-wrapper {
    max-width: 600px;
    width: 100%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 12px 40px;
    justify-content: center;
}

.content-grid a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 2px;
    transition: all 0.2s ease;
}

.content-grid a:hover {
    color: #ddd;
    border-color: #ddd;
}

.block{
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: 140px;
    font-family: WalsheimThin;
    font-size: 25px;
    color: white;
}

#squaresOfDifferences{
    position: relative;
    top: 220px;
}

#differencesOfSquares{
    position: relative;
    top: 320px;
}

#differencesOfCubes{
    position: relative;
    top: 420px;
}

#sumOfCubes{
    position: relative;
    top: 520px;
}

#cubeOfSum{
    position: relative;
    top: 620px;
}

#cubeOfDiffrence{
    position: relative;
    top: 720px;
}

.end{
    text-decoration: underline;
    color: white;
}

.end:hover{
    color: #03c0d9;
}